<div class="row">

	<div class="col-md-2">
		<h3><%= @user.name %></h3>
		<%= gravatar_tag @user.email, size: 150 %>
	</div>

	<div class="col-md-5">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @places.each do |place| %>
					<tr>
						<td><%= place.name %></td>
						<td><%= time_ago_in_words(place.created_at) %></td>
						<td><%= link_to "Edit", edit_place_path(place) %> | <%= link_to "Destroy", place_path(place), metod: :delete %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<%= link_to "New Place", new_place_path %>
	</div>

	<div class="col-md-5">
		<h5>My Reveiws</h5>
		<table class="table">
			<thead>
				<tr>
					<th>Place</th>
					<th>Created</th>
					<th>Rating</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @reviews.each do |review| %>
					<tr>
						<td><%= review.place.name %></td>
						<td><%= time_ago_in_words(review.created_at) %></td>
						<td><div class="score_<%= review.id %>"></td>
						<td><%= link_to "Edit", edit_review_path(review) %> | <%= link_to "Destroy", review_path(review), method: :delete %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

</div>


<script>
<% @reviews.each do |review| %>
	$('.score_<%= review.id %>').raty({
		starOn: "<%= image_path('star-on.png') %>",
    	starOff: "<%= image_path('star-off.png') %>",
		score: <%= review.score %>,
		readOnly: true
	});
	<% end %>
</script>

