<div class="row">
  
  <div class="col-md-3">
    <h3><%= @place.name %></h3>
    <div class="score"></div>
    <p>
      <strong>Address:</strong>
      <%= @place.address %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= @place.phone %>
    </p>
    <p>
      <strong>Website:</strong>
      <%= @place.website %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @place.description %>
    </p>

    <div id="map-canvas" style="width: 230px; height: 230px;"></div>

  </div>

  <div class="col-md-9">
    <h3>Reviews by People</h3>
    <% if current_user %>
      <h5>New Review</h5>
      <%= render 'reviews/form' %>
    <% end %>
      <h5>All Reviews</h5>
      <%= render @reviews %>
    
  </div>






<script type="text/javascript">
  function initialize() {
    var mycenter = { lat: <%= @place.latitude %>, lng: <%= @place.longitude %>}
    var mapOptions = {
      center: mycenter,
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    var marker = new google.maps.Marker({
      position: mycenter,
      map: map
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);


  <% @reviews.each do |review| %>
      $(".score_<%= review.id %>").raty({
        starOn: "<%= image_path('star-on.png') %>",
        starOff: "<%= image_path('star-off.png') %>",
        score: <%= review.score %>,
        readOnly: true
      });
  <% end %>

</script>

</div>